@import 'tailwindcss';
@import 'flowbite';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }
}

@utility field-sizing-content {
  /*field-sizingはまだ実験的機能でTailwindに実装されていないため、カスタムCSSという形で追加する*/
  field-sizing: content;
}

@utility field_with_errors {
  display: inline;
}

@utility page_header {
  @apply text-white font-bold text-xl py-4 mb-8 md:text-2xl md:max-w-5xl md:mx-auto;
}

@utility page_body {
  @apply max-w-5xl mx-auto;
}

@utility button {
  @apply text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 me-2 mb-2 ml-2;
}

@utility input_type_text {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-500 inline-block max-w-full field-sizing-content p-2.5;
}

@utility active_course_tab_item {
  @apply translate-y-[1px] inline-block px-2 py-4 w-52 md:w-[280px] rounded-t-lg text-blue-700 font-bold bg-white border border-l-gray-300 border-t-gray-300 border-r-gray-300 border-b-white hover:no-underline text-xs md:px-4 md:text-base;
}

@utility inactive_course_tab_item {
  @apply translate-y-[1px] inline-block px-2 py-4 w-52 md:w-[280px] rounded-t-lg text-gray-500 font-bold bg-gray-300 border border-gray-300 hover:bg-blue-50 hover:no-underline text-xs md:px-4 md:text-base;
}

@utility active_preview_tab_item {
  @apply translate-y-[1px] inline-block px-2 py-4 w-24 md:w-40 rounded-t-lg text-blue-700 font-bold bg-white border border-l-gray-300 border-t-gray-300 border-r-gray-300 border-b-white hover:no-underline text-xs md:px-4 md:text-base;
}

@utility inactive_preview_tab_item {
  @apply translate-y-[1px] inline-block px-2 py-4 w-24 md:w-40 rounded-t-lg text-gray-500 font-bold bg-gray-300 border border-gray-300 hover:bg-blue-50 hover:no-underline text-xs md:px-4 md:text-base;
}

@utility active_small_tab_item {
  @apply inline-block px-4 py-2 w-24 text-white bg-blue-700 border border-blue-700 rounded-3xl hover:no-underline;
}

@utility inactive_small_tab_item {
  @apply inline-block px-4 py-2 w-24 text-gray-600 border border-gray-300 rounded-3xl hover:bg-blue-50 hover:no-underline;
}

@utility flash_notice {
  @apply py-2.5 px-4 my-5 text-green-500 bg-green-100 font-medium rounded-lg inline-block;
}

@utility flash_alert {
  @apply py-2.5 px-4 my-5 text-red-500 bg-red-100 font-medium rounded-lg inline-block;
}

@utility radio_button_label {
  @apply flex items-center w-full h-full relative block text-blue-700 rounded-lg font-bold cursor-pointer before:content-[""] before:w-4 before:h-4 before:rounded-full before:border before:border-blue-700 before:absolute before:left-3;
}

@theme {
  --color-markdownAnchorBlue: #0969da;
}

@layer base {
    a {
        @apply text-markdownAnchorBlue hover:underline;
    }
    ul {
        @apply list-disc pl-8 [&_ul]:list-[revert];
    }
    ol {
        @apply list-decimal pl-8;
    }
}
