<div class="mb-4">
  <ul class="flex flex-wrap text-sm text-center border-b border-gray-200 !list-none">
    <% Course.all.each do |course| %>
      <li class="me-2">
        <%= link_to course.name, course_minutes_path(course), class: active_tab == course ? 'active_large_tab' : 'large_tab' %>
      </li>
    <% end %>
  </ul>
</div>
