<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">
    <%= "管理者用のダッシュボード" %>
  </h1>

  <div>
    <p>管理者名 : <%= current_admin.name %></p>
    <% if current_admin.avatar_url %>
      <%= image_tag(current_admin.avatar_url, size: '100x100', alt: '管理者のGitHubアカウントの画像') %>
    <% end %>
  </div>
</div>
