<div class="text-sm p-4 bg-green-50 rounded">
  <ul class="!mb-0">
    <li class="text-green-700">
      <span class="font-bold">こうしたら作業がうまく進んだ</span>
      <ul>
        <li class="text-green-700">モブプロをやってみたら自分が知らない知識を得ることができて、とても勉強になりました！</li>
        <li class="text-green-700">⚪︎⚪︎のリファレンスとても参考になりました、おすすめです〜</li>
      </ul>
    </li>
    <li class="text-green-700">
      <span class="text-green-700 font-bold">作業のここがうまくいかなかった</span>
      <ul>
        <li class="text-green-700">コードの理解に時間がかかりました。コードを読むときに気をつけていることがあれば教えて欲しいです</li>
        <li>⚪︎⚪︎について調べていたが、あまり情報を見つけることができませんでした。検索方法や対象についてアドバイスが欲しいです</li>
      </ul>
    </li>
    <li class="text-green-700">
      <span class="text-green-700 font-bold">発生している問題</span>
      <ul>
        <li class="text-green-700">CIでテストが落ちてしまいます。皆さんはいかがでしょうか？</li>
      </ul>
    </li>
    <li class="text-green-700">
      <span class="text-green-700 font-bold">チームメンバーの良かったところ・チームメンバーに対する感謝</span>
      <ul>
        <li class="text-green-700">⚪︎⚪︎さんのコードのここが勉強になりました！/⚪︎⚪︎さんのレビューのここが参考になりました！</li>
        <li class="text-green-700">詰まっていた箇所を一緒にペアプロしてくださった⚪︎⚪︎さんに感謝です</li>
      </ul>
    </li>
    <li class="text-green-700">
      <span class="text-green-700 font-bold">技術的な関心ごと・イベント</span>
      <ul>
        <li class="text-green-700">Railsの次のバージョンについて発表がありました </li>
        <li class="text-green-700">⚪︎⚪︎日に地域.rbイベントが開催されるみたいです！</li>
      </ul>
    </li>
  </ul>
</div>
