<div class="mb-8">
  <ul class="flex flex-wrap text-sm text-center border-b border-gray-200 !list-none">
    <% Course.all.each do |course| %>
      <li class="me-2">
        <%= link_to course.name, polymorphic_path([course, resource]), class: active_tab == course ? 'active_large_tab_item' : 'large_tab_item' %>
      </li>
    <% end %>
  </ul>
</div>
