<div class="mb-4">
  <% if course.members.any? %>
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 !list-none">
      <li class="me-2">
        <%= link_to '現役', course_members_path(course, status: 'active'), class: active_tab == 'active' ? 'active_small_tab_item' : 'small_tab_item' %>
      </li>
      <li class="me-2">
        <%= link_to '休会', course_members_path(course, status: 'hibernated'), class: active_tab == 'hibernated' ? 'active_small_tab_item' : 'small_tab_item' %>
      </li>
    </ul>
  <% end %>
</div>
