<div class="w-full text-center">
  <% if notice.present? %>
    <p class="flash_notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="flash_alert"><%= alert %></p>
  <% end %>
</div>
