<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">
    <%= "#{@member.name}さんの出席一覧(#{@member.course.name})" %>
  </h1>

  <%= content_tag :div, id: 'all_attendance_table', class: "my-8", data: {attendances: @member.all_attendances}.to_json do %><% end %>

  <% if @member == current_development_member %>
    <div class="mt-4 text-center">
      <%= link_to 'チーム開発を抜ける', logout_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-4 focus:outline-none",
                  data: { turbo: true,
                          turbo_method: :delete,
                          turbo_confirm: "どちらかのケースに当てはまる場合に、チーム開発を抜けてください。\n\n・チーム開発を修了した\n・フィヨルドブートキャンプを休会したことに伴って、チーム開発をお休みする" } %>
    </div>
  <% end %>
</div>
